html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    color: #bfc406;
}

img {
    display: block;
    max-width: 100%;
}

a {
    font-weight: 700;
    color: #d14348;
}

a:focus,
a:hover {
    text-decoration: none;
}

em {
    font-weight: 700;
    font-size: 140%;
    color: #f3d350;
    font-style: normal;
}

.header {
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.header .tagline {
    display: none;
}

@media screen and (min-width: 600px) {
    .header {
        background: -webkit-linear-gradient( top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
        background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        max-height: 800px;
    }
}

@media screen and (min-width: 600px) {
    .header .tagline {
        display: block;
        color: #fff;
        max-width: 40em;
        line-height: 140%;
        font-size: 2.5rem;
    }
    .header .tagline h1 {
        display: none;
    }
    .header .tagline em {
        font-size: 140%;
        color: #f3d350;
        font-style: normal;
    }
}

.nav {
    margin-top: 1.75rem;
    /* navelements */
}

.nav .nav-elements .branding {
    max-width: 180px;
    margin: 0 auto;
}

.nav .nav-elements .navbar {
    margin: 0;
    padding: 0;
    line-height: 120%;
    list-style-type: none;
    margin-top: 2rem;
    width: 100%;
}

.nav .nav-elements .navbar a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
}

.nav .nav-elements .navbar a:after {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    margin: 0 .5rem;
    -webkit-transition: width .3s ease-out, background-color .3s ease-out;
    transition: width .3s ease-out, background-color .3s ease-out;
}

.nav .nav-elements .navbar a:hover {
    color: #f3d350;
}

.nav .nav-elements .navbar a:hover:after {
    width: 100%;
    background: #f3d350;
}

.nav .nav-elements .forecast {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 350px;
    min-width: 250px;
}

.nav .nav-elements .forecast p {
    text-align: center;
    margin: 0.4em;
}

.nav .nav-elements .forecast img {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    vertical-align: bottom;
}

.nav .nav-elements .forecast .prefs,
.nav .nav-elements .forecast .results {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.nav .nav-elements .forecast .prefs h3,
.nav .nav-elements .forecast .results h3 {
    background-color: black;
    padding: 0.2em;
    text-align: center;
}

.nav .nav-elements .forecast .prefs {
    border: 1px solid white;
    text-align: center;
}

.nav .nav-elements .forecast .prefs .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.nav .nav-elements .forecast .prefs form div {
    display: inline-block;
}

.nav .nav-elements .forecast .prefs .conditions .city {
    font-weight: bold;
}

.nav .nav-elements .forecast .results {
 /*   display: none; */
    height: auto;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.8s ease-out;
}
.nav .nav-elements .forecast .open {
  /*  display: block; */
    border: 1px solid white;
    border-top: none;
    max-height: 250px;
}

.nav .nav-elements .forecast .results .options {
    text-align: center;
    border-bottom: 1px solid white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.nav .nav-elements .forecast .results .options div {
    display: inline-block;
    width: 33.33%;
    padding: 0.25em 1em;
    margin: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav .nav-elements .forecast .results .options #team {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.nav .nav-elements .forecast .results .options div:hover {
    background-color: white;
}

.nav .nav-elements .forecast .results .options .selected {
    background-color: #bfc406;
}

.nav .nav-elements .forecast .results .options .selected:hover {
    background-color: #bfc406;
}

.nav .nav-elements .forecast .results .activities {
    max-height: 125px;
    overflow: scroll;
}

.nav .nav-elements .forecast .results .activities ul {
    margin: 0.25em 0 0;
}

@media screen and (min-width: 600px) {
    .nav .nav-elements {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (min-width: 600px) {
    .nav .nav-elements .branding {
        width: 30%;
        margin: 0;
    }
}

@media screen and (min-width: 600px) {
    .nav .nav-elements .forecast {
        margin-left: 1em;
        width: 250px;
    }
}

@media screen and (min-width: 1050px) {
    .nav .nav-elements .navbar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}


/* nav */

.footer {
    background-color: #312a10;
    color: #fff;
    padding: 0 0 5em;
    line-height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background: -webkit-linear-gradient(top, transparent, #312a10), url(../images/backgrounds/discthrower.jpg);
    background: linear-gradient(180deg, transparent, #312a10), url(../images/backgrounds/discthrower.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
}

.footer .nav {
    margin-top: 0;
}

.footer .legal {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 110%;
    margin-top: 3rem;
}

.section {
    min-height: 40vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 160%;
}

.section .headline {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 3rem;
    line-height: 110%;
}

.section a,
.section em {
    font-size: 140%;
    vertical-align: -6%;
}

@media screen and (min-width: 600px) {
    .section {
        font-size: 2rem;
    }
}

#history {
    background-color: #f3d350;
}

#history .headline {
    color: #d14348;
}

#history em {
    color: #e69f2a;
}

@media screen and (min-width: 1200px) {
    #history {
        background-image: url(../images/employees/HenryTwill_outline.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 30% auto;
        min-height: 100vh;
    }
    #history .text-content {
        width: 70%;
    }
}

#products {
    /*.product-list*/
}

#products .imageheader {
    background: -webkit-linear-gradient(top, transparent, transparent), url(../images/backgrounds/swimming.jpg);
    background: linear-gradient(180deg, transparent, transparent), url(../images/backgrounds/swimming.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: auto;
}

#products .product-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    /*.product-item*/
}

#products .product-list .product-item {
    position: relative;
    color: #fff;
    overflow: hidden;
    width: 50%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: .8;
    /*.product-name*/
}

#products .product-list .product-item .product-name {
    background: #d14348;
    color: #f3d350;
    font-weight: 700;
    font-size: 80%;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}

#products .product-list .product-item:focus .product-name,
#products .product-list .product-item:hover .product-name {
    display: block;
}

#products .product-list .product-item:focus,
#products .product-list .product-item:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
}

#products .product-list .product-item:focus .product-name,
#products .product-list .product-item:hover .product-name {
    display: block;
    -webkit-animation: a 1s;
    animation: a 1s;
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@media screen and (min-width: 600px) {
    #products .product-list .product-item {
        width: 33.33333%;
    }
}

@media screen and (min-width: 900px) {
    #products .product-list .product-item {
        width: 25%;
    }
}

@media screen and (min-width: 1200px) {
    #products .product-list .product-item {
        width: 16.66667%;
    }
}


/* products*/

#guarantee {
    color: #fff;
    font-size: 2rem;
    background-color: #8f9305;
}

#guarantee .imageheader {
    background: -webkit-linear-gradient(top, transparent, #8f9305), url(../images/backgrounds/cycling.jpg);
    background: linear-gradient(180deg, transparent, #8f9305), url(../images/backgrounds/cycling.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    max-height: 60vh;
}

#guarantee .headline {
    color: #f5da6a;
}

#guarantee a {
    color: #d2d651;
}

#people {
    background-color: #e7c84c;
    /*.people-cards*/
}

#people .imageheader {
    background: -webkit-linear-gradient(top, transparent, #e7c84c), url(../images/backgrounds/soccer.jpg);
    background: linear-gradient(180deg, transparent, #e7c84c), url(../images/backgrounds/soccer.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    max-height: 40vh;
}

#people .headline {
    color: #fff;
    padding-bottom: 2rem;
}

#people .people-cards {
    /*.person-card*/
}

#people .people-cards .person-card {
    background: hsla(0, 0%, 100%, .2);
    box-shadow: 5px 5px 3px rgba(243, 211, 80, .5);
    border-radius: 20px;
    margin-bottom: 3rem;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: .8;
    /*.card-text*/
}

#people .people-cards .person-card .card-info {
    background: rgba(255, 177, 47, .9);
    padding: 3% 7%;
}

#people .people-cards .person-card .card-info .card-name {
    font-size: 2rem;
    line-height: 110%;
    color: #d14348;
}

#people .people-cards .person-card .card-info .card-title {
    color: hsla(0, 0%, 100%, .6);
    font-size: 1.4rem;
    line-height: 100%;
}


/*.card-info*/

#people .people-cards .person-card .card-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 130%;
    margin: 0;
    padding: 7%;
}

#people .people-cards .person-card .card-text em {
    color: #f2a82d;
    font-size: 2.2rem;
}

#people .people-cards .person-card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
}

@media screen and (min-width: 600px) {
    #people .people-cards {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (min-width: 600px) {
    #people .people-cards .person-card {
        width: calc(100%/2 - 1.5rem);
    }
}

@media screen and (min-width: 1200px) {
    #people .people-cards .person-card {
        width: calc(100%/3 - 1.5rem);
    }
}


/*.people*/